<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2><img src="https://le-cdn.website-editor.net/s/bbf7a5ffe90a4adabeb56412afa00deb/dms3rep/multi/opt/logo-text-white-3-332w.png?Expires=1696600632&Signature=SxnG1OkXDM-eVT~g-VQ5KLyHmql15xGSWnQKmP~BawvPZyQtnSlgYsb7ZqnPZDU4oDxMDjQwjC0vkmb1irgKMjtcc95hXKALROh87D9gMqVpDd2ddIn3kfB8G6DPrZDYbxn2Hyg3wQhrw-TG-QcvAxcOhsZrK3xN1A6oe32JF5JhZmYt4-peJGyz~xBE8H1XDs7xq4ZE5aX5sL-BTrGeg92l97aABf2BvdhWagMTdwseRHwVhX61gRqgyV82VyUu4Zj8Y7v8AwvZssxQBd3u0VSvyypUXUFQGVQl8yNi8QbzS1FOS63QgpOuC-dO~FpvcXe4WCKjBvbVHcfWbeh2ZA__&Key-Pair-Id=K2NXBXLF010TJW"></h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="well">
        <h3>Dashboard</h3>
        <p><iframe width="1000" height="800" src="https://lookerstudio.google.com/embed/reporting/92708f6d-683f-42e2-ab3d-669d30697b98/page/sTGcD" frameborder="0" style="border:0" allowfullscreen></iframe></p>
      </div>
      <div class="row">
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
